.clock {
  border-radius: 100%;
  background: transparent;
  font-family: "Montserrat";
  border: 1.5px solid white;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.hours, .minutes {
  position: absolute;
  background-color: rgb(43, 43, 43);
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: bottom center;
  transform: rotate(0);
  transition: transform 5s ease-in-out;
}

.hours {
  top: -35%;
  width: 4px;
  height: 35%;
  background-color: rgb(43, 43, 43);
}

.minutes {
  top: -46%;
  width: 4px;
  height: 46%;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background: rgb(43, 43, 43);;
  /* border: 1px solid rgb(43, 43, 43);; */
  border-radius: 100%;
  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}